html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    background: black;
    font-size: 18px;
    padding-bottom: 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 200px;
}

header h1 {
    color: white;
    font-size: 55px;
}

.search-hero {
    background: #6b7280;
}
.search-hero .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.search-hero h3 {
    font-size: 23px;
}
.search-hero .inputfield {
    padding: 20px 190px 20px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.search-hero .btn {
    background: #5ad87c;
    color: white;
    padding: 20px 40px 20px 40px;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.search-hero form {
    display: flex;
}

.search-results {
    background: #6b7280;
}

.search-results .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

footer {
    background: #4A5568;
    flex-shrink: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}